body{
    margin: 0;
    padding: 0;
    background-image: url("img/loginbg.jpg");
    background-size:cover;
}
.sign_div{
    width: 300px;
    padding: 20px;
    text-align: center;
    background: url(bg02.jpg);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 6px;
}
.sign_div:hover{
    background: rgba(7, 6, 6, 0.3);
    }
.sign_div h1{
    margin-top: 100px;
    color: white;
    font-size: 40px;
}
.sign_div input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat",sans-serif;
}
.sign_text{
    margin:4px;
    background: rgba(255,255,255,5);
    border-radius: 6px;
}
.sign_btn{
    margin-top: 50px;
    margin-bottom: 20px;
    background: #487eb0;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
}
.sign_div a{
    text-decoration: none;
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}
.sign_div a:hover{
    background: rgba(0,0,0,.3);
}